.app-wrapper {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.hero {
  text-align: center;
  padding: 1.5rem 1rem 3rem;
}

.projects {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  justify-items: center;
  padding: 2rem 1rem 4rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

section {
  margin-top: 4rem;

  &:first-of-type {
    margin-top: 0;
  }
}
