:root {
  --color-bg-light: #fbe0f0;
  --color-text-light: #1a1a1a;
  --color-bg-dark: #2c2c2c;
  --color-text-dark: #f4f4f4;
  --color-accent: #797777;
  --container-width: 1200px;
  --spacing-section: 4rem;
  --font-main: 'Poppins', sans-serif;
}
